/* Core overides */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  border-bottom: 2px solid #222;
  text-align: left;
  line-height: 1.5;
}

button {
  border-radius: 5px;
  background: #CCC;
  border: none;
}

p button {
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 5px;
}

input,
textarea,
table{
  border: 1px solid #aaa;
}

textarea{
  height: 3.25em;
  max-width: 100%;
}

button:hover,
button:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="number"]:hover,
textarea:hover,
textarea:focus{
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 3px #222;
}



/* Layout */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 768px;
}

.grid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.grid > .grid-col {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .grid > .grid-col {
    float: left;
    width: calc(50% - 2rem);
  }
}

/* Components */

.form-label,
.form-input,
.table {
  width: 100%;
  margin-bottom: 1rem;
}

.form-input {
  padding: 1rem;
}

.form-label {
    display: inline-block;
    font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
}

.table {
  border: 1px solid #aaa;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th:first-child,
.table td:first-child {
  padding: 1rem;
  text-align: right;
}

.table td {
  border: 1px solid #aaa;
}

/* Utils */

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

@media (max-width: 768px) {
  .full-width-small {
    width: 100%;
  }
}

#signin-form {
  text-align: right;
  padding-bottom: 2rem;
}

#signedin-message {
  text-align: right;
}
