/* Core overides */

html {
  box-sizing: border-box;
  font-size: 16px;
  color: #222;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  border-bottom: 2px solid #222;
  line-height: 1.5;
}

textarea {
  height: 3.25em;
  max-width: 100%;
}

/* Layout */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 768px;
}

.grid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.grid > .grid-col {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Clearfix */
.grid > .grid-col:before,
.grid > .grid-col:after {
  content: " ";
  display: table;
}
.grid > .grid-col:after {
  clear: both;
}

@media (min-width: 768px) {
  .grid > .grid-col {
    float: left;
    width: calc(50% - 2rem);
  }
}

/* Components */

.form-input {
  padding: 1rem;
}

.form-label {
  display: inline-block;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background: #CCC;
  border: none;
}

.btn + .btn-small {
  margin-left: .5rem;
}

.form-label-small,
.form-input-small,
.btn-small {
  font-size: .8rem;
}

.form-input-small,
.btn-small {
  padding: .5rem;
}

.form-label,
.form-input,
.textarea,
.table {
  width: 100%;
  margin-bottom: 1rem;
}

.form-input,
.table {
  border: 1px solid #aaa;
}

.btn:focus,
.form-input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 2px #222;
}

/* Clearfix */
.form:before,
.form:after {
  content: " ";
  display: table;
}
.form:after {
  clear: both;
}


@media (min-width: 768px) {
  .form-inline .form-label,
  .form-inline .form-input {
    display: inline-block;
    width: auto;
  }

  .form-inline .form-input-small {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .form-inline .form-label-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
  }
}

.table {
  border: 1px solid #aaa;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th:first-child,
.table td:first-child {
  padding: 1rem;
  text-align: right;
}

.table td {
  border: 1px solid #aaa;
}

/* Utils */

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

@media (max-width: 768px) {
  .full-width-small {
    width: 100%;
  }
}
