/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

body {
  background: url('../img/pattern_130.gif');
}

.container {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-top: -10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}


/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
  position: absolute;
  top: 20px;
  right: 10px;
}

.playground .nav-tabs {
  margin: 0;
}
.playground .nav-tabs li:first-child {
  margin-left: 10px;
}

#preview {
  padding: 10px;
}
#code {
  position: relative;
  height: 600px;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.hero-unit,
.copy {
  background: #EBE7DA;
}
.copy p {
  margin: 0;
}